html {
  background-color: #eceef1;
}

.create {
  padding: 0;
  border-radius: 5px;
  margin: auto;
  border: 1px blue solid;
  text-align: center;
  vertical-align: middle;
  height: 40px;
}

.nav-bar {
  display: flex;
  justify-content:flex-end;
}

.nav-text {
    display: flex;
    flex-flow: column;
    padding:0px;
    margin-top: -15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 5px;

}

h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 12px;
    color: rgb(61, 61, 61);
    text-align: center;
}

.nav-link {
    font-size: 12px;
    position:relative;
    top: -15px;
    text-decoration: none;
    text-align: center;
}

.logos {
    padding-top: 10px;
    text-align: center;
}

.intuit_logo {
     display: block;
     margin-top: 30px;
     text-align: center;
}

.form_box {

    background-color: white;
    border: 1px solid gray;






}
